annotated-types==0.7.0
asgiref==3.8.1
attrs==24.1.0
autocommand==2.2.2
cffi==1.17.1
channels==4.2.2
charset-normalizer==3.4.1
cryptography==44.0.2
Django==4.2.11
evdev==1.9.0
filelock==3.18.0
gpg==1.24.2
idna==3.10
input-remapper==2.1.1
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
more-itertools==10.6.0
packaging==24.2
platformdirs==4.3.6
psutil==7.0.0
pycairo==1.27.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydbus==0.6.0
PyGObject==3.50.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
PySocks==1.7.1
python-distutils-extra==2.39
pytz==2025.1
requests==2.32.3
setuptools==75.8.0
sqlparse==0.5.1
torbrowser-launcher==0.3.7
typing_extensions==4.12.2
ufw==0.36.2
urllib3==2.4.0
wheel==0.45.0
